*, *::before, *::after{

box-sizing: border-box;

}

body{

    margin: 0;
    margin: 0;

    
}

@media only screen and (max-width: 600px) {
    .header{

        background:linear-gradient(to right, rgb(4, 48, 83),
        rgb(255, 15, 15),
        #ffffff);
      
        
        }
  }

#main-section{

    margin-top: 100px;


}

    #main-section.leftPadding{
    
        padding-left: 240px;
    
    }

button.navshowhide{
    text-decoration: none;
    background-color:transparent;
    border: none;
    margin-left: 5px;
    margin-right: 15px;
    width: 40px;
    box-sizing: border-box;
}

.upl{
    width: 20px;
    height: 25px;

}

button.navshowhide:hover{
    border: none;

}

.side-bar{


width: 240px;
background-color:#e6e6ff4f;
padding-top: 56px;
position: fixed;
top: 0;
bottom: 0;
display: flex;
flex-direction: column;


}



.video-section{

display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 3rem 1rem;
padding: 3rem 0;
margin: 0 1.5rem;
border-top: 4px solid #ccc ;





}

.video-section:first-child{
border-top: none;

}




.video-container{

display: flex;
flex-direction: column;



}

.thumbnail{

    position: relative;
    display: flex;


}

.thumbnail::before{

    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: wheat;
    right: 5px;
    bottom: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;

}


.thumbnail-img{

    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;

}

.video-bottom-section{

    display: flex;
    align-items: flex-start;
    margin-top: 1rem;



}



.channel-icon{

margin-right: .75rem;
border-radius: 50%;
width: 36px;
height: 36px;
background-color: #aaa;

}


.video-details{

    display: flex;
    flex-direction: column;

}



.videio-title{

font-size: 1.1rem;
font-weight: bold;
margin-bottom: .5rem;
text-decoration: none;
color: black;
}

.video-channel-name{

    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;

}

.video-channel-name:hover{
color:#111;

}

.video-channel-name,
.video-metadata{
color:#555;

}




.video-section-title{

    grid-column: 1/-1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;

}



.video-section-title-close{

border: none;
background:none;
padding: 0;
font-size: 2rem;
color: #555;
cursor: pointer;


}


.videos{

background-color:#ffffff;

}


.categories{

    padding: 0.5rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #f1f2f6;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    margin-top:56px;
    
}

.category-section{
  

    display: flex;
  
}

.category{

    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 800px;
    background-color:#f1f2f6;
    padding: .3rem .3rem;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 150ms;

}

.category::hover{

    background-color: #ddd;

}

.category.active{

    background-color: #606060;
    color: white;
    border-color: #eee;


}

.category:last-child{

    margin-right: 0;
}

.header{
height: 56px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
background:linear-gradient(to right, rgb(29, 116, 187),
rgb(70, 230, 222),
#ffffff);
position: fixed;
box-sizing: border-box;
top: 0;
left: 0;
z-index: 1;
width: 100%;

}

.logo{
    height: 50px;
    margin-left: 5px;

}  

.search-bar{

display: flex;
flex-grow: 1;
margin: 0 2rem 0 4rem ;



}

.serach-input{
    width: 50%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius:0 ;
    height: 28px;
    background-color: #f1f2f6;

   
}


.search-btn{

display: flex;
align-items: center;
padding: 0 1.25rem;
margin-right:8% ;

border: 1px solid #777;
height: 28px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
cursor: pointer;

}

.search-btn:hover{
    background-color: #f0f0f0;
}


.menu-icon{

 display: grid;
 grid-template-columns: repeat(4,auto);
 align-items: center;
 gap: 1.5rem;  
 margin-left: 20px; 
}
 
.menu-channel-icon{

border-radius: 50%;
width: 36px;
height: 36;
background-color: #aaa;


}



